

/* =Theme customization starts here
-------------------------------------------------------------- */

/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}

/* Correct issue with ie8 where cannot find password font family */
input[type=password]{
    font-family:Verdana,sans-serif !important;
}

.dashboard_header
{
    font-family: Bitter, Georgia, serif;
    line-height: 1.3;
    padding:5px;
    margin:0 auto;
    text-align:center;
    font-size: 48px;
    font-weight:bold;
    width:100%;
}

hr {
    margin: 0;
}

.site-header .home-link {
    min-height: 100px;
    padding: 0px;
}

.dashboard_group_challenge {
    margin-top:20px;
    border: 1px solid #000000;
    width:900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.dashboard_bottom_row{
    margin-top:10px;
    width:900px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard_your_steps {
    width:49%;
    min-height: 282px;
    border: 1px solid #000000;
    padding: 10px;
    float: left;
}

.dashboard_bottom_row h2, .dashboard_group_challenge h2{
    margin-top:0;
    padding-top:0;
}
.dashboard_partner {
    width:49%;
    border: 1px solid #000000;
    float: right;
    padding: 10px;
    min-height: 282px;
}

.dashboard_partner_entry{
    border:1px dashed #000000;
    margin-bottom:3px;
    padding: 5px 10px;
}

.login_box{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
    border: 1px solid black;
    width:900px;
    height:400px;
}

.login_box_error{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
    width:900px;
    background-color: #FFEBE8;
    border:1px solid #C00;
    padding:5px;
}

.login_box_message{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
    width:900px;
    background-color: #66FF99;
    border:1px solid #33CC66;
    padding:5px;
}

.entry-header{
    margin-top:0;
    padding-top:0;
    margin-bottom:0;
    padding-bottom:0;
}

.login_box_left{
    float: left;
    text-align:center;
    width:49%;
}

.login_box_right{
    text-align:center;
    float: right;
    width:49%;
}

.verticalLine {
    border-left: 1px solid #000;
    height: 400px;
    float: right;
    width:2%;
}

ul{
    list-style:none;
}

.step_count
{
    font-weight:bold;
    font-size:25px;
}

.temp_dashboard_boarder_challenge{
    border: 1px dashed #000;
    margin:3px;
    overflow:hidden;
}

.dashboard_group_meta{
    max-width:300px;
    float:right;
    margin-right:100px;
    overflow:hidden;

}

.dashboard_group_name
{
    text-align:left;
    width:250px;
    margin-right:30px;
    display: block;
    float:right;

}

.nav-menu li {	
    float:right;
}

/* Prevent main menu being hidden on small screen device*/
ul.nav-menu,
div.nav-menu > ul {
    display: block !important;
}

/* Hide tabs on group directory page */
#groups-all{
    display:none;
}

#groups-personal{
    display:none;
}
/* End hide tabs on group directory page*/

.innovage_error {
    font-weight:bold;
    color:red;
    border:1px solid red;
    padding:3px;
}

.innovage_message {
    padding:1px;
    background-color: #66FF99;
    border:1px solid #33CC66;
}

.unavailable
{
    font-weight: bold;
    color:red;
}

.progressBar, .progressbar_individual{
    width: 250px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
    margin: 0 auto;
    max-width: 904px;
    width: 100%;
}

.innovage_button
{
    background: #e05d22; /* Old browsers */
    background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
    background:  linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
    border-bottom: 3px solid #b93207;
    border-radius: 2px;
    color: #fff !important;
    display: inline-block;
    padding: 11px 24px 10px;
    text-decoration: none;
}

.innovage_button:hover {
    background: #ed6a31; /* Old browsers */
    background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
    text-decoration: none;
    color: #fff;
}

.member-profile-fields
{
    clear:both;
    line-height: 25px;
}

/* Make todays date on the datepicker more obvious */
.ui-state-highlight
{
    color:red !important;
    border: 1px solid red !important;
}

#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 15px;
    /* background-color:#d94412;*/
    background-color:green;
    text-align:center;
    text-decoration: none;
    font-size:15px;
    /*border: none;
    border-bottom: 3px solid #b93207;
    border-radius: 2px;*/
    color: #fff;
    display: inline-block;
    padding: 11px 24px 10px;
}

.site-footer{
    padding-bottom:15px;
}

#ui-datepicker-div { display: none; }



/* start dashboard popup */
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:50;
    width:100%;
    height:100%;
    display:none;
}
#searchScreen
{
    height:380px;
    padding-top: 35px;
    padding-left:15px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    width:280px;
    margin-right:auto;
    z-index:100;
    display:none;
    background-color: #ffffff;
    border:5px solid #cccccc;
    border-radius:10px;
}
#searchScreen:target, #searchScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:#ffffff;
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}
/* end dashboard popup */

a.group-create {
    background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 3px solid #b93207;
    border-radius: 2px;
    color: #fff !important;
    display: inline-block;
    padding: 11px 24px 10px;
    text-decoration: none;
}

table.jqplot-table-legend{
    width:auto !important;
    white-space: nowrap;
}
